<div class="container" ><br>
  <div><h3 class="text-muted">{{ blog.title }}</h3>
    <div class="row">
      <div class="col-md-7">
        <dl class="list">
          <dd>{{ blog.content }}</dd>
        </dl>
      </div>
      <div class="col-md-5" align="right">
        <dl class="list">
          <dt>Author</dt>
          <dd>{{ blog.author }}</dd> <br />
          <dt>Update Date</dt>
          <dd>{{ blog.updated_at }}</dd>
        </dl>
        <a [routerLink]="['/blogs']" class="btn btn-primary">Blog Catalogue</a>
      </div>
    </div>
  </div>
</div>
