<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Blog</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!-- If IE use the latest rendering engine -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Set the page to the width of the device and set the zoon level -->
  <meta name="viewport" content="width = device-width, initial-scale = 1">
</head>
<body>

<!--	Top bar goes here if want it:

  <div class="container-fluid" style="background-color: #ccc"	>
	  <div class="row row-head">
		  <div class="col-lg-12 header">
			<h1 style="text-align: center">Header</h1>
		  </div>
	  </div>
  </div>

  -->

  <!-- CONTAINERS -->
  <!-- container puts padding around itself while container-fluid fills the whole screen. Bootstap grids require a container. -->


  <div class="container">

    <!-- page-header adds space aroundtext and enlarges it. It also adds an underline at the end -->
    <div class="page-header">
    <h1>SET08101 Coursework#2 - CRUD Blog</h1>
    </div>

    <!-- jumbotron enlarges fonts and puts everything in a gray box with rounded corners. If jumbotron is outside a container it fills the total width. You can change the styles by placing the changes after the Bootstrap CDN link -->
    <div class="row">
      <div class="col-lg-8">
        <div class = "jumbotron">
          <div class="page-header">
            <h3>Blog Posts</h3>
          </div>

        <% for(var i=0; i<quotes.length; i++) {%>
            <span style="font-size:22px"><%= quotes[i].name %> </span><hr>
            <span><%= quotes[i].quote %></span><br><br>
        <% } %>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="jumbotron">
          <div class="page-header">
            <h4>Login Here</h4>
          </div>
          <div class="form-group">
            <form><!-- <form action="#"> -->
              <input type="text" placeholder="Username"><br> <br>
              <input type="password" placeholder="Password"><br> <br>
              <button type="submit" class="btn btn-success">Login</button>
            </form>
          </div>

        </div>


        <div class="jumbotron">
          <div class="page-header">
            <h4>Create Blog Post</h4>
          </div>
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Submit</button>
          <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="jumbotron">
                  <div class="page-header">
                    <h3>Create Your Blog Post</h3>
                  </div>
                  <div class="form-group">
                    <form action="/quotes" method="POST">
                      <label for="Title" style="font-size:18px">Title:</label><br>
                      <textarea type="text" placeholder="Title" name="name" id="Title"></textarea><br>
                      <label for="content" style="font-size:18px">Content:</label><br>
                      <textarea type="text" placeholder="Content" name="quote" id="Content"></textarea><br><br>
                      <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="page-header">
              <h4>Update Yoda Posts</h4>
            </div>
            <div>
              <button class="btn btn-warning btn-lg" id="update">Update!</button>
            </div>
            <div class="page-header">
              <h4>Delete Vadar post</h4>
            </div>
            <div>
              <button class="btn btn-danger btn-lg" id="delete"> Delete first Darth Vadar quote </button>
            </div>
        </div>
      </div>
    </div>



    <div class="jumbotron">
      <div class="page-header">
        <h3>Sample Buttons</h3>
      </div>
      <!-- BUTTONS -->
      <!-- There are many built in button colors and sizes. If a link is to trigger in page functionality it should use role="button". The button element should be used in most situations -->
      <p>
        <a href="#" class = "btn btn-default btn-lg" role="button">More info</a>
        <button type="submit" class = "btn btn-danger" role = "button">Button</button>
        <input type="button" value="Info" class = "btn btn-info">
        <button type="submit" class = "btn-primary btn-sm">Primary</button>
        <button type="submit" class = "btn btn-success btn-xs">Success</button>
        <button type="submit" class = "btn btn-warning btn-lg">Warning</button>
        <button type="submit" class = "btn btn-link btn-lg">Link</button>

        <!-- You can disable buttons with disabled -->
        <button type="button" class="btn btn-lg btn-primary" disabled="disabled">Disabled Button</button>

        <!-- You disable links in a similar way -->
        <a href="#" class="btn btn-default btn-lg disabled" role="button">Disabled Link</a>

        <!-- You can group buttons. You can size the buttons with btn-group-lg, btn-group-sm, or btn-group-xs -->
        <div class="btn-group btn-group-lg" role="group" aria-label="...">
          <button type="button" class="btn btn-default">Small</button>
          <button type="button" class="btn btn-default">Medium</button>
          <button type="button" class="btn btn-default">Large</button>
        </div>

      </p>

      <!-- bootstraptut2.html -->

      <!-- ICONS -->
      <!-- Bootstrap has hundreds of free icons. http://getbootstrap.com/components/#glyphicons They can be used on their own or inside of buttons with a link or regular button for example. -->
      <p>
        <span class="glyphicon glyphicon-film"></span>

        <a href="#" class="btn btn-primary btn-lg">Trash <span class="glyphicon glyphicon-trash"></span></a>

        <button type="button" class="btn btn-default btn-lg">

          <!-- aria-hidden hides decorative icons from screen readers -->
          <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> Call Me
        </button>
      </p>

    </div>
  </div>

  <script src="main.js"></script>
  </body>
</html>
